@model LessonCreateViewModel
@inject Microsoft.Extensions.Localization.IStringLocalizer<SharedResource> L

<div class="card">
    <div class="card-body">
        <h4>@L["Admin.AddLesson"]</h4>
        <form asp-action="Create" asp-area="Admin" method="post" enctype="multipart/form-data" class="row g-3">
            @Html.AntiForgeryToken()
            <input type="hidden" asp-for="ModuleId" />
            <div class="col-12">
                <label class="form-label">@L["Admin.Title"]</label>
                <input asp-for="Title" class="form-control" />
            </div>
            <div class="col-12">
                <label class="form-label">@L["Admin.Description"]</label>
                <textarea asp-for="Description" class="form-control" rows="3"></textarea>
            </div>
            <div class="col-md-6">
                <label class="form-label">@L["Admin.YouTubeUrl"]</label>
                <input asp-for="YouTubeUrl" class="form-control" />
                <div class="form-text">@L["Admin.YouTubeHelp"]</div>
            </div>
            <div class="col-md-3">
                <label class="form-label">@L["Admin.Order"]</label>
                <input asp-for="Order" type="number" value="1" class="form-control form-control-sm" />
            </div>
            <div class="col-12">
                <label class="form-label">@L["Admin.Files"]</label>
                <input type="file" name="Files" multiple class="form-control" />
            </div>
            <div class="col-12">
                <button class="btn btn-primary">@L["Admin.AddLesson"] <i class="fas fa-plus-circle ms-1"></i></button>
                <a asp-controller="Curricula" asp-action="Details" asp-area="Admin" asp-route-id="@ViewContext.RouteData.Values["curriculumId"]" class="btn btn-link">@L["Button.Cancel"]</a>
            </div>
        </form>
    </div>
</div>

